@model Priority

    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            

                <div class="text-center">


                    <h4>Priority Name: @Model.PriorityName</h4>
                    


                </div>

                <div class="text-center">
                    <a asp-controller="priority" asp-action="index" class="btn btn-primary">Back</a>

                    <a asp-controller="priority" asp-action="edit"
                       asp-route-id="@Model.PriorityId"
                       class="btn btn-primary">Edit</a>
                    <a asp-controller="priority" asp-action="delete" asp-route-id="@Model.PriorityId"
                       class="btn btn-danger">Delete</a>
                </div>
            
        </div>
    </div>